
#pan{
  margin-top: 100px;
  border padding:0px;
  border-color: #ccc;
  box-shadow:0px 2px 3px 0px;
}
#home input[type="email"],input[type="password"]{
  border: 1px solid #ddd;
  height: 45px;
  margin: 10px auto;
  width: 90%;
}
#signup input[type="fullname"],input[type="email"]{
  border: 1px solid #ddd;
  height: 45px;
  margin: 10px auto;
  width: 90%;
}
#btnsignin{
  margin-left: 45%;
}
#btnregister{
  margin-left: 42%;
  margin-bottom: 15px;
}
#remember{
  margin-bottom: -18px !important;
}

#logsign {
  display: flex;
  justify-content: center;
}
